body {
    font-family: 'Roboto'; sans-serif;
        color: #434455;
}

ul { 
    list-style: none;
}

a {
    text-decoration: none;
}
/* 
.list {
    list-style: none;
}
*/
/* ===HEADER=== */
.header {}

.header-navigation {}

.header-logo {
    color: #2E2F42;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.02em;
}

.header-logo-color {
    color: #4D5AE5;
}

.header-menu-list {}

.header-menu-item {}

.header-menu-link {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* ===HEADER END=== */

/* ===HERO=== */
.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}

.hero-btn {
color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 4em;
    cursor: pointer;
}

.advantages {}

.advantages-list {}

.advantages-item {}

.advantages-subtitle {}

.advantages-item-text {}

/* ===HERO END=== */

.team {}

.team-title {}

.team-list {}

.team-item {}

.team-img {}

.team-subtitle {}

.team-positiion {}






